<!DOCTYPE html>

<html>

<head>
    <title>Task App</title>
    <link rel="icon" href="/images/task-manager.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <p>Please Log In</p>
        <form>
            <input id="email" placeholder="Name">
            <input id="password" type="password" placeholder="Password">
            <button> Log In </button>
        </form>
        <p id="login-status"></p>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>